<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.promptech.privacy_protector.project.infrastructure.ProjectMapper">

	<select id="nextProjectId" resultType="long">
		SELECT nextval('project_seq')
	</select>

	<insert id="insert">
		INSERT INTO project (
			project_id, name,
			raw_url, raw_username, raw_password, raw_schema,
			edit_url, edit_username, edit_password, edit_schema
		) VALUES (
			#{id}, #{project.name},
			#{project.rawConnection.url}, #{project.rawConnection.username}, #{rawPassword}, #{project.rawConnection.schema},
			<!-- 이관 대상은 나중에 정할 수 있어 null 이 들어옵니다. jdbcType 이 없으면 드라이버가 타입을 몰라 실패합니다. -->
			#{project.editConnection.url,jdbcType=VARCHAR}, #{project.editConnection.username,jdbcType=VARCHAR},
			#{editPassword,jdbcType=VARCHAR}, #{project.editConnection.schema,jdbcType=VARCHAR}
		)
	</insert>

	<select id="existsByName" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM project WHERE name = #{name})
	</select>

</mapper>
